*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#coffee_img {
  position: absolute;
  top: 50%;
  left: 50%;
}

#contact_banner{
  width: 100%;
  height: 350px;
}

li {
  list-style-type: none;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}

.panels{
  height: 100vh;
  display: flex;
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  transition:
          flex cubic-bezier(.61,-0.19,.7,-0.1) 600ms,
          font-size 0s;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  filter: brightness(50%);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
}

.panel>*{
  color: white;
  text-transform: capitalize;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  transition: 300ms;
}

.panel1{
  background: url('../img/img1.jpeg') center no-repeat;
  background-size: cover;
}

.panel2{
  background: url('../img/img2.jpeg') center no-repeat;
  background-size: cover;
}

.panel3{
  background: url('../img/img3.webp') center no-repeat;
  background-size: cover;
}

.panel4{
  background: url('../img/img4.jpeg') center no-repeat;
      background-size: cover;
}

.panel5{
  background: url('../img/img5.jpeg') center no-repeat;
      background-size: cover;
}

.panel>*:first-child{
  transform: translateY(-200px);
}
.panel.open-active>*:first-child{
  transform: translateY(0);
}

.panel>*:last-child{
  transform: translateY(200px);
}
.panel.open-active>*:last-child{
  transform: translateY(0);
}

.open{
  flex: 5;
  filter: brightness(100%);
  font-size: 1.5em;
}

@media screen and (min-width: 769px) {
  #index_text {
    font-size: 5rem;
  }
  #index{
    position: absolute;
    left: 25%;
    top: 20%;
  }
}

@media only screen and (max-device-width: 768px) {
  iframe{
    width: 290px;
    margin-top: 25px;
  }
}
